@import url(index.css);

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 6px;
}

h2 {
    font-size: var(--fontsize-h3-mobile);
    font-family: var(--font-title);
    margin: 0px 0px;
    text-align: justify;
}

h4 {
    font-family: var(--font-police);
    color: var(--title-color);
    font-size: var(--fontsize-mobile);
    margin: 0px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
    
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 5px;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  40px;
}

.lign {
    display: flex;
    flex-direction: column;
    height: 0.4px;
    background-color: var(--font-color);
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
}

.footer-list h4{
    font-size: var(--fontsize-mobile);
    margin: 0px 0px;
}

.footer-list img{
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  28px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    max-width: 382px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

@media (min-width:768px) {

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  80px;
}

.lign {
    display: flex;
    flex-direction: column;
    height: 0.4px;
    background-color: var(--font-color);
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: auto;
    width: 100%;
}

.footer-list h4{
    font-size: var(--fontsize-mobile);
    margin: 0px 0px;
}

.footer-list img{
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  30px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    max-width: 382px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

h2 {
        font-size: var(--fontsize-tablette);
        font-family: var(--font-title);
        text-align: start;
        margin: 0px 0px;
    }

h4 {
    font-family: var(--font-police);
    color: var(--title-color);
    font-size: var(--fontsize-tablette);
    margin: 0px 0px;
    }
    
}


@media (min-width:1024px) {

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  80px;
}

.lign {
    display: flex;
    flex-direction: column;
    height: 0.4px;
    background-color: var(--font-color);
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: auto;
    width: 100%;
}

.footer-list h4{
    font-size: var(--fontsize-mobile);
    margin: 0px 0px;
}

.footer-list img{
    display: flex;
    align-items: center;
    align-content: center;
    max-width:  30px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    max-width: 382px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

h2 {
        font-size: var(--fontsize-h3-desktop);
        font-family: var(--font-title);
        margin: 0px 0px;
    }

h4 {
    font-family: var(--font-police);
    color: var(--title-color);
    font-size: var(--fontsize-desktop);
    margin: 0px 0px;
    }
    
}
